{% extends 'base.html' %}

{% block title %}
    customersevice-question_list

{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/base.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
{% endblock %}

{% block content %}

    <header>
        <div class="container">
            <h3 id="sub_title">고객센터</h3>
            <div class="service">
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">QNA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">공지사항</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">1:1문의</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="section1">
        <div class="container">

            <table class="table table-hover">
                <thead>
                <tr class="table-dark">
                    <th>영화관</th>
                    <th>제목</th>
                    <th>등록일</th>
                </tr>

                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>



{% endblock %}

{% block script %}
    <script>
        const tabMenu = document.querySelectorAll('.nav nav-underline');
        const tabContent = document.querySelectorAll('.nav-link');

        tabMenu.forEach((tm, i) => {
            tm.addEventListener('click', () => {
                // 모든 탭 메뉴에서 'active' 클래스 제거
                tabMenu.forEach(item => {
                    item.classList.remove('active');
                });

                // 클릭한 탭 메뉴에만 'active' 클래스 추가
                tm.classList.add('active');

                // 탭에 해당하는 리스트 보이고, 나머지는 숨기기
                tabContent.forEach((tc, j) => {
                    tc.style.display = (i === j) ? 'flex' : 'none';
                });
            });
        });

    </script>
{% endblock %}