@charset "utf-8";

/* 기본 폰트 설정 */

#contents {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1207px;
    margin: 0 auto;
    padding-top: 30px;
}

/* 상품상세정보 */
/* 상품사진 */

.pro_detail {
    position: relative;
    min-height: 650px;
    margin: 40px 0 80px;
}

.pro_detail .pro_img {
    float: left;
    width: 500px;
}

.pro_detail .pro_img .main_img {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.pro_detail .pro_img .main_img img {
    width: 478px;
    /* vertical-align: top;
    border: none;  */
}

/* 상품정보 */

.pro_info{
    margin-left: 550px;
}

.pro_table {
    width: 100%;
    height: 574px;
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.1;
    letter-spacing: -0.03em;
}

.pro_table tr {
    display: table-row;
}

.pro_table .title {
    font-size: 28px;
}

.box_num button {
    vertical-align: middle;
}