{% extends 'base.html' %}

{% block title %}
    공지사항 - 필름아티크
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
{% endblock %}

{% block content %}

    <div class="header">
        <div class="container">
            <div class="menu">
                <h3 id="sub_title">고객센터</h3>
                <div class="service">

                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for("cs.faq_list") }}">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                               href="{{ url_for("cs.notice_list") }}">공지사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for("cs.review_list") }}">1:1문의</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="container">
            <div class="col-6">
                <a href="{{ url_for("cs.review_create") }}"
                   class="btn btn-secondary btn-sm" style="width: 100px">문의하기</a>
            </div>
            <div class="outside">
                <table class="table">
                    <thead>
                    <tr class="table-secondary">
                        <th>문의유형</th>
                        <th>영화관</th>
                        <th>제목</th>
                        <th>등록일</th>
                        <th>처리상태</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% if review_list %}
                        {% for review in review_list %}  <!--현재 페이지 해당 게시물-->
                            <tr>

                                <td>{{ review.cs_ask }}</td>
                                <td>{{ review.cs_place }}</td>
                                <td><a href="{{ url_for("cs.review_detail", review_id=review.id) }}">{{ review.subject }}</a></td>
                                <td>{{  review.created_date  }}</td>
                                <td></td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">공지사항이 없습니다.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}