{% extends 'base.html' %}

{% block title %}
    공지사항 - 필름아티크
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review_form.css') }}">
{% endblock %}

{% block content %}

    <div class="header">
        <div class="container">
            <div class="menu">
                <h3 id="sub_title">고객센터</h3>
                <div class="service">

                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for("cs.faq_list") }}">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                               href="{{ url_for("cs.notice_list") }}">공지사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for("cs.review_list") }}">1:1문의</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section5">
        <div class="container text-center">
            <div class="outside">
                <table class="table">

                    <h5 class="my-3 border-bottom pb-4 text-start">문의작성</h5>


                    <form method="post" enctype="multipart/form-data" novalidate>

                        {{ form.csrf_token }}
                        {% include 'form_errors.html' %}

                        <!-- 문의 유형 라디오체크박스 -->


                        <div class="mb-3 row border-bottom pb-2">
                            <label class="col-sm-2 col-form-label">
                                {{ form.cs_ask.label.text }}
                            </label>

                            <div class="col-sm-5">
                                {% for subfield in form.cs_ask %}
                                    <div class="form-check form-check-inline">
                                        {{ subfield(class="form-check-input") }}
                                        <label class="form-check-label" for="{{ subfield.id }}">
                                            {{ subfield.label.text }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {#영화관 장소 cs_place#}
                        <div class="mb-4 row border-bottom pb-3">
                            <div class="col-sm-2">
                                {{ form.cs_place.label(class="form-label") }}
                            </div>
                            <div class="col-sm-10">
                                {{ form.cs_place(class="form-select") }}
                            </div>
                        </div>

                        <!-- 제목 -->
                        <div class="mb-3 row border-bottom pb-3">
                            <div class="col-sm-2">
                                {{ form.subject.label(class="form-label") }}
                            </div>
                            <div class="col-sm-10">
                                {{ form.subject(class="form-control") }}
                            </div>
                        </div>

                        <!-- 내용 -->
                        <div class="mb-3 row border-bottom pb-3">
                            <div class="col-sm-2">
                                {{ form.content.label(class="form-label") }}
                            </div>
                            <div class="col-sm-10">
                                {{ form.content(class="form-control") }}
                            </div>
                        </div>

                        <div class="mb-3 row border-bottom pb-2">
                            <div class="col-sm-2">
                                <label for="formFileMultiple" class="form-label">첨부<br>
                                    파일</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" type="file" id="formFileMultiple" multiple>
                            </div>
                        </div>
                        <div class="btn-group-custom mt-3">
                            <button type="submit" class="btn btn-danger btn-fixed" style="width: 100px">
                                저장
                            </button>
                            <button type="button" class="btn btn-secondary btn-fixed"
                                    onclick="location.href='{{ url_for('cs.review_list') }}'"style="width: 100px;">
                                취소
                            </button>
                        </div>

                    </form>
                </table>

            </div>
        </div>
    </div>
{% endblock %}