/* 전체 */
.wrap {
    margin: 0 auto;
    width: 100%;
    height: 1219px;
    display: flex;
    background: #444;
}

/* 좌측 메뉴 */
.sidebar {
  width: 120px;
  margin: 0 0 0 auto;
}
.sidebar ul{
    height: 1101px;
    padding-top: 73.5px;
    text-align: center;
}
.sidebar ul li{
    width: 90px;
    height: 268px;
    padding-top: 90px;
    opacity: 1;
    /* transition: 0.3s; */
    border: 1px solid #000;
    background-color: #fff;
}
.sidebar ul li.active {
  background-color: #ff0000;
  color: #fff;
  opacity: 1;
}
.sidebar > ul > li:first-child{
    color: #fff;
    background-color: #666;
}
.sidebar > ul > li:nth-child(2) {
    color: #fff;
    background-color: #666;
}
.sidebar > ul > li:nth-child(3) {
    color: #fff;
    background-color: #666;
}
.sidebar ul li strong{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 메인 */
.main {
    width: 1207px;
    height: 1101px;
    margin: 0 auto;
    margin-top: 75px;
    margin-left: 2px;
    background-color: #fff;
}

/* 타이틀 */
.title {
    height: 68px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

/* 완료 메시지 */
.complete_msg {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}


/* 티켓 */
.ticket {
    background: #fff;
    width: 600px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* 상단 */
.ticket_top {
    display: flex;
    gap: 20px;
}

.ticket_top img {
    width: 120px;
}

/* 정보 */
.info {
    text-align: left;
    flex: 1;
}

.info p {
    margin: 8px 0;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info span {
    display: inline-block;
    width: 80px;
    color: #666;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.booking {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

/* 구분선 */
.divider {
    border-top: 1px dashed #ccc;
    margin: 20px 0;
}

/* 하단 금액 */
.ticket_bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.ticket_bottom .total {
    font-weight: bold;
}

/* 안내 */
.notice {
    width: 600px;
    margin: 20px auto;
    text-align: left;
    font-size: 14px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 버튼 */
.buttons {
    margin-top: 20px;
    text-align: center;
}
.buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}