.section1 {
    margin-bottom: 130px;
}

.section5 .container {
    width: 1207px; height: auto;
    min-height: 762px;
    padding-left: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #eaeaea;
    align-items: center;
    margin-bottom: 145px;
    padding: 50px 0;
}

.section5 .outside{
    width: 1006px;
    height: auto;
    margin-left: 90px;
    text-align: center;
}
.section5 .container .outside table{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section5 .outside h5{
    margin-left: 35px;
}

.section5 .outside .btn-fixed{
    width: 100px;
    margin-right: 20px;
    color: #ffffff;
}
.section5 .btn-fixed:last-child {
    margin-right: 0;
}