{% extends 'base.html' %}

{% block title %}이벤트 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/event.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>전체 이벤트</h2>
        <h3>영화</h3>
        <div id="event_1">
            <a href="{{ url_for('film.event_detail', img_name='이벤트1') }}">
                <img src="{{ event_1.img_url }}" alt="">
                <div class="itm_date">2026.04.22 ~ 2026.04.28</div>
            </a>
            <a href="{{ url_for('film.event_detail', img_name='이벤트2') }}">
                <img src="{{ event_2.img_url }}" alt="">
                <div class="itm_date">2026.04.22 ~ 2026.04.28</div>
            </a>
            <a href="{{ url_for('film.event_detail', img_name='이벤트3') }}">
                <img src="{{ event_3.img_url }}" alt="">
                <div class="itm_date">2026.04.22 ~ 2026.04.28</div>
            </a>
        </div>
        <h3>시사회/무대인사</h3>
        <div id="event_2">
            <a href="{{ url_for('film.event_detail', img_name='이벤트4') }}">
                <img src="{{ event_4.img_url }}" alt="">
                <div class="itm_date">2026.05.01 ~ 2026.05.02</div>
            </a>
            <a href="{{ url_for('film.event_detail', img_name='이벤트5') }}">
                <img src="{{ event_5.img_url }}" alt="">
                <div class="itm_date">2026.04.25 ~ 2026.04.26</div>
            </a>
            <a href="{{ url_for('film.event_detail', img_name='이벤트6') }}">
                <img src="{{ event_6.img_url }}" alt="">
                <div class="itm_date">2026.04.21 ~ 2026.04.21</div>
            </a>
        </div>
        <h3>HOT</h3>
        <div id="event_3">
            <a href="{{ url_for('film.event_detail', img_name='이벤트7') }}">
                <img src="{{ event_7.img_url }}" alt="">
                <div class="itm_date">2026.05.01 ~ 2026.05.31</div>
            </a>
            <a href="{{ url_for('film.event_detail', img_name='이벤트8') }}">
                <img src="{{ event_8.img_url }}" alt="">
                <div class="itm_date">2026.04.20 ~ 2026.09.06</div>
            </a>
            <a href="{{ url_for('film.event_detail', img_name='이벤트9') }}">
                <img src="{{ event_9.img_url }}" alt="">
                <div class="itm_date">2026.04.17 ~ 2026.05.10</div>
            </a>
        </div>
        <h3>제휴할인</h3>
        <div id="event_4">
            <a href="{{ url_for('film.event_detail', img_name='이벤트10') }}">
                <img src="{{ event_10.img_url }}" alt="">
                <div class="itm_date">2026.04.01 ~ 2026.12.31</div>
            </a>
            <a href="{{ url_for('film.event_detail', img_name='이벤트11') }}">
                <img src="{{ event_11.img_url }}" alt="">
                <div class="itm_date">2026.04.01 ~ 2026.12.31</div>
            </a>
            <a href="{{ url_for('film.event_detail', img_name='이벤트12') }}">
                <img src="{{ event_12.img_url }}" alt="">
                <div class="itm_date">2026.03.25 ~ 2026.04.15</div>
            </a>
        </div>
    </div>
{% endblock %} 