{% extends 'base.html' %}
{% block title %}결제 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='store_pay.css') }}">
{% endblock %}

{% block content %}
<div class="store_pay_inner">
    <div class="store__pay_page_top"></div>
    <div class="store__pay_page">
        <div class="menu_name"></div>
        <div class="payment_sys"></div>
        <div class="pay"></div>
    </div>
    <div class="store__pay_page_bottom"></div>
</div>
{% endblock %}

{% block script %}

{% endblock %}